
html{
    background-color:rgb(43, 43, 43);
}
main.ContainerMovie{
    border-radius: 10px;
margin: 1% 5% 0% ;
padding: 1%;
height: 100%;
background-color: rgb(34, 34, 34);
}
.ContainerMovie img{
width: 50%;
height: 50%;
}
.movie_title{
    font-size: max(1vw,50px);

}
.conteinerContent{
   display: flex;
   
}

.conteinerContent_info{
    max-width: 50%;
    justify-content: center;
    margin-left: 2%; 
    color: white;
    position: relative;
    display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
}

.overview{
    font-size: 18px;
    padding-bottom: 5%;
}
.conteinerContent_info svg{
    color: rgb(235, 200, 1);
    position: relative;
    left:1%;
    top: 10%;

}
.content_info{
    justify-content:baseline;
    flex-direction: column;
    display: flex;
    font-size: 18px;
}
.content_info p {
    display: flex;
}


@media screen and (max-width: 650px) {
    p.movie_title{
        font-size:20px;
    
    }
    .conteinerContent_info span,p{
        font-size: 12px;
    
    }
    .overview{
        font-size: 12px;
    }
    .conteinerContent_info{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
  
}
